
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/summaryproducts">Summary Products</a></li>
                <li><a href="#/summarycategory">Summary Cateory</a></li>
                <li><a href="#/summarybrands">Summary brands</a></li>
                <li class="active"><a href="#/recentpurchases">Recent Purchases</a></li>
                <li><a href="#/purchasenew">Purchase New</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
            <h2>Recent Purchases</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="purchase in purchase.allpurchases">
                        <td>{{ purchase.productId }}</td>
                        <td>{{ purchase.productName }}</td>
                        <td>{{ purchase.price }}</td>
                        <td><a ng-href="{{purchase.details}}">Show Details</a></td>
                    </tr>
                </tbody>
            </table>

            <h2>Create New Product Id</h2><hr>
            <form class="form-horizontal" name="productForm" ng-submit="addNewProduct()" novalidate>
              <div class="form-group">
                <label class="control-label col-sm-2" for="product-id">Product ID:</label>
                <div class="col-sm-10 padding-top-7">
                  <input type="text" id="product-id" class="form-control" ng-model="newProduct.productId"></input>
                </div>
              </div>

                <div class="form-group">
                <label class="control-label col-sm-2" for="product-name">Product Name:</label>
                <div class="col-sm-10 padding-top-7">
                  <input type="text" id="product-name" class="form-control" ng-model="newProduct.productName"></input>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="price">Price:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="price" placeholder="Enter Price" ng-model="newProduct.price" required>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" ng-disabled="!newProduct.productId || !newProduct.price ">Submit</button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>
